{% extends 'core/base.html' %}
{% block content %}
<div class="container mt-5">
    <h1 class="text-warning mb-5 border-bottom">SKILLS</h1>
    <div class="row text-white">
        <div class="col-sm-5">
            <h3 class="mt-5">Python</h3>
            <div class="progress">
                <div class="progress-bar bg-danger" role="progressbar" style="width:100%" aria-valuenow="100"
                aria-valuemin="0" aria-valuemax="100">100%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">Django</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                 role="progressbar" style="width:95%" aria-valuenow="95"aria-valuemin="0" aria-valuemax="100">95%</div>
            </div>
        </div>

        <div class="col-sm-5">
            <h3 class="mt-5">Adv-Python</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" 
                role="progressbar" style="width:90%" aria-valuenow="90"
                aria-valuemin="0" aria-valuemax="100">90%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">SQL-database</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated" 
                role="progressbar" style="width:70%" aria-valuenow="70"
                aria-valuemin="0" aria-valuemax="100">70%</div>
            </div>
        </div>

        <div class="col-sm-5">
            <h3 class="mt-5">Git</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated"
                 role="progressbar" style="width:50%" aria-valuenow="50"
                aria-valuemin="0" aria-valuemax="100">50%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">BootStrap</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" 
                role="progressbar" style="width:45%" aria-valuenow="45"
                aria-valuemin="0" aria-valuemax="100">45%</div>
            </div>
        </div>

        <div class="col-sm-5">
            <h3 class="mt-5">HTML/CSS</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" 
                role="progressbar" style="width:33%" aria-valuenow="33"
                aria-valuemin="0" aria-valuemax="100">33%</div>
            </div>
        </div>

        <div class="col-sm-5 offset-sm-2">
            <h3 class="mt-5">Flask</h3>
            <div class="progress">
                <div class="progress-bar progress-bar-striped progress-bar-animated bg-info" 
                role="progressbar" style="width:10%" aria-valuenow="10"
                aria-valuemin="0" aria-valuemax="100">10%</div>
            </div>
        </div>
    </div>

</div>
{% endblock content %}